In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
pop_df = pd.read_csv('data/등록인구추이_20230223163302.csv', encoding = 'cp949')
print(pop_df.head())

     시점 세대수 (세대)   인구 (명) 인구 (명).1 인구 (명).2  한국인 (명) 외국인 (명)    인구밀도
0    시점       소계       소계        남        여       소계      소계  면적 (㎢)
1  2018  1480468  3494019  1721327  1772692  3441453   52566  769.94
2  2019  1497908  3466563  1704098  1762465  3413841   52722  770.07
3  2020  1530431  3438710  1686412  1752298  3391946   46764  770.07

In [49]:
pop_df.drop(0, axis = 0, inplace = True)
pop_df.drop('인구 (명)', axis = 1, inplace = True)
pop_df.columns = ['시점', '세대수', '인구_남', '인구_여', '한국인', '외국인', '인구밀도']

In [71]:
for columns in pop_df.columns:
    pop_df[columns] = pd.to_numeric(pop_df[columns])

In [78]:
v = pop_df['인구_남'] / pop_df['인구_여']
pop_df.insert(4, '인구_남/여', v)

In [79]:
pop_df

     시점      세대수     인구_남     인구_여     인구_남여      한국인    외국인    인구밀도
1  2018  1480468  1721327  1772692  0.971024  3441453  52566  769.94
2  2019  1497908  1704098  1762465  0.966883  3413841  52722  770.07
3  2020  1530431  1686412  1752298  0.962400  3391946  46764  770.07