In [3]:
import numpy as np
import pandas as pd

In [4]:
pd_data = pd.read_csv('data/전국푸드트럭허가구역표준데이터.csv', encoding = 'cp949')
pd_data.head()

,허가구역명,장소유형,시도명,시군구명,소재지도로명주소,소재지지번주소,위도,경도,푸드트럭운영대수,허가구역사용료,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
0,부산대학교내 장승터,6,부산광역시,금정구,부산광역시 금정구 부산대학로 63번길 2,부산광역시 금정구 장전동 40,35.232243,129.083825,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
1,금양초등학교,6,부산광역시,금정구,부산광역시 금정구 중앙대로 1755,부산광역시 금정구 부곡동 63-27,35.241236,129.092025,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
2,부산가톨릭대학교 로사리오광장,6,부산광역시,금정구,"부산광역시 금정구 오륜대로 57, 부산가톨릭대학교 로사리오광장 (부곡동)",부산광역시 금정구 부곡동 9,35.244677,129.096872,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
3,호계2차현대홈타운,8,경기도,안양시,경기도 안양시 동안구 경수대로 462 (호계동 호계2차현대홈타운),NaN,NaN,NaN,NaN,매출액 15퍼센트(VAT별도),...,NaN,NaN,NaN,NaN,NaN,경기도 안양시청,031-8045-4313,2022-12-07,3830000,경기도 안양시
4,안양종합운동장,8,경기도,안양시,경기도 안양시 동안구 평촌대로 389,경기도 안양시 동안구 비산동 1023,NaN,NaN,NaN,매출액 15퍼센트(VAT별도),...,NaN,NaN,NaN,NaN,NaN,경기도 안양시청,031-8045-4313,2022-12-07,3830000,경기도 안양시

In [6]:
ptcount = len(pd_data['허가구역명'].unique())
print("허가구역 갯수:", ptcount)

허가구역 갯수: 304

In [7]:
pd_data['푸드트럭운영대수'].sum()

444.0

In [8]:
sub_data = pd_data[['시도명', '푸드트럭운영대수']]
sub_data

       시도명  푸드트럭운영대수
0    부산광역시       1.0
1    부산광역시       1.0
2    부산광역시       1.0
3      경기도       NaN
4      경기도       NaN
..     ...       ...
337    경기도       1.0
338    경기도       1.0
339    경기도       1.0
340    경기도       1.0
341    경기도       1.0

[342 rows x 2 columns]

In [14]:
num_descr_df = pd_data.describe()
lista = list(pd_data.columns)
for e in list(num_descr_df.columns):
    lista.remove(e)

    pd_data[lista].describe()
    
pd_data[lista].describe()

,허가구역명,시도명,시군구명,소재지도로명주소,소재지지번주소,허가구역사용료,허가구역운영시작일자,허가구역운영종료일자,허가구역휴무일,허가구역평일운영시작시각,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
count,342,342,342,239,311,342,342,342,342,342,...,126,126,124,124,95,342,342,342,342,342
unique,304,16,103,216,276,123,255,197,58,19,...,13,12,13,12,18,115,132,87,108,108
top,아파트,경기도,흥덕구,충청북도 청주시 흥덕구 옥산면 오송가락로 1056 (청주리버파크자이),충청북도 청주시 흥덕구 송절동 851 청주테크노폴리스푸르지오,0,2021-01-01,2022-12-31,연중무휴,00:00,...,09:00,18:00,09:00,18:00,주류,충청북도 청주시 흥덕구청,043-201-1972,2022-08-18,5710000,충청북도 청주시
freq,10,80,23,5,5,180,10,39,240,113,...,45,28,45,28,58,23,36,36,36,36

In [19]:
x = pd_data['허가구역휴무일'].astype('category')

df1 = pd.DataFrame({'label' : x, 'codes' : x.cat.codes})
df1

0      51
1      54
2      54
3      36
4      48
       ..
337    23
338    23
339    23
340    23
341    23
Length: 342, dtype: int8