In [4]:
import numpy as np
import pandas as pd
raw_data = pd.read_csv('data/전국평생학습강좌표준데이터.csv', encoding = 'cp949')
raw_data.head()

,강좌명,강사명,교육시작일자,교육종료일자,교육시작시각,교육종료시각,강좌내용,교육대상구분,교육방법구분,운영요일,...,접수종료일자,접수방법구분,선정방법구분,홈페이지주소,직업능력개발훈련비지원강좌여부,학점은행제평가(학점)인정여부,평생학습계좌제평가인정여부,데이터기준일자,제공기관코드,제공기관명
0,"오늘의 점심레시피 - 곰돌이 함박스테이크, 고슴도치 주먹밥",MBC씨앤아이,2022-01-01,2022-12-31,NaN,NaN,"곰돌이 함박스테이크, 고슴도치 주먹밥",지역주민,온라인,월+화+수+목+금+토+일,...,2022-12-31,인터넷,선착순,cyberedu.gunsan.go.kr,N,N,N,2022-11-23,4670000,전라북도 군산시
1,오늘의 점심레시피 - 과일 볶음밥 및 감자 피자,MBC씨앤아이,2022-01-01,2022-12-31,NaN,NaN,"과일 볶음밥, 감자 피자",지역주민,온라인,월+화+수+목+금+토+일,...,2022-12-31,인터넷,선착순,cyberedu.gunsan.go.kr,N,N,N,2022-11-23,4670000,전라북도 군산시
2,오늘의 점심레시피 - 과일채소 쌈,MBC씨앤아이,2022-01-01,2022-12-31,NaN,NaN,과일채소 쌈,지역주민,온라인,월+화+수+목+금+토+일,...,2022-12-31,인터넷,선착순,cyberedu.gunsan.go.kr,N,N,N,2022-11-23,4670000,전라북도 군산시
3,오늘의 점심레시피 - 꼬치 궁중떡볶이,MBC씨앤아이,2022-01-01,2022-12-31,NaN,NaN,꼬치 궁중떡볶이,지역주민,온라인,월+화+수+목+금+토+일,...,2022-12-31,인터넷,선착순,cyberedu.gunsan.go.kr,N,N,N,2022-11-23,4670000,전라북도 군산시
4,"오늘의 점심레시피 - 냉 녹차밥, 매콤한 해산물 샐러드",MBC씨앤아이,2022-01-01,2022-12-31,NaN,NaN,"냉 녹차밥, 매콤한 해산물 샐러드",지역주민,온라인,월+화+수+목+금+토+일,...,2022-12-31,인터넷,선착순,cyberedu.gunsan.go.kr,N,N,N,2022-11-23,4670000,전라북도 군산시

In [74]:
drop_columns = ['교육시작시각', '교육종료시각', '강좌내용', '운영기관전화번호']
edu_data = raw_data.drop(drop_columns, axis = 1)

def changeDtype(columns, astype):
    for x in columns:
        edu_data[x] = edu_data[x].astype(astype, copy = False)

float_columns = ['강좌정원수', '수강료']
label_columns = ['교육대상구분', '교육방법구분', '운영요일', '접수방법구분', '선정방법구분', '제공기관코드', '제공기관명']
date_columns = ['교육시작일자', '교육종료일자', '접수시작일자', '접수종료일자', '데이터기준일자']
object_columns = ['강좌명', '강사명', '교육장소', '교육장도로명주소', '운영기관명', '홈페이지주소', '직업능력개발훈련비지원강좌여부', '학점은행제평가(학점)인정여부', '평생학습계좌제평가인정여부']

changeDtype(float_columns, np.float64)
changeDtype(label_columns, 'category')
changeDtype(date_columns, np.datetime64)
changeDtype(object_columns, object)

# print(len(float_columns + label_columns + date_columns + object_columns) == len(edu_data.dtypes))

# # edu_data.info()
edu_data.dtypes

강좌명                        object
강사명                        object
교육시작일자             datetime64[ns]
교육종료일자             datetime64[ns]
교육대상구분                   category
교육방법구분                   category
운영요일                     category
교육장소                       object
강좌정원수                     float64
수강료                       float64
교육장도로명주소                   object
운영기관명                      object
접수시작일자             datetime64[ns]
접수종료일자             datetime64[ns]
접수방법구분                   category
선정방법구분                   category
홈페이지주소                     object
직업능력개발훈련비지원강좌여부            object
학점은행제평가(학점)인정여부            object
평생학습계좌제평가인정여부              object
데이터기준일자            datetime64[ns]
제공기관코드                   category
제공기관명                    category
dtype: object

In [76]:
edu_data[edu_data.columns].describe()

               강좌정원수           수강료
count   26535.000000  2.653500e+04
mean      108.489768  2.768765e+04
std      8682.492064  5.259617e+04
min         0.000000  0.000000e+00
25%        10.000000  0.000000e+00
50%        15.000000  5.000000e+03
75%        20.000000  4.000000e+04
max    999999.000000  2.000000e+06

In [94]:
t = []
for col_name in edu_data.columns:
    if edu_data[col_name].hasnans == True:
        print(col_name)
        cnt_s = edu_data[col_name].isna().value_counts()
        cnt = cnt_s.to_numpy()
        t.append([col_name, cnt[0], cnt[1]])
        
t = np.array(t)
missing_df = pd.DataFrame(t[:, 1:], index = t[:, 0], columns = ['value_count', 'NaN_count'])
missing_df

운영요일
교육장소
접수시작일자
접수종료일자
선정방법구분
홈페이지주소

       value_count NaN_count
운영요일         22007      4528
교육장소         23755      2780
접수시작일자       21516      5019
접수종료일자       21474      5061
선정방법구분       22273      4262
홈페이지주소       24221      2314

C:\Users\ITPS\AppData\Local\Temp\ipykernel_6088\3609962026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_data['교육장소'][edu_data['교육방법구분'] == '온라인'] = '온라인'