In [30]:
import numpy as np
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_df = pd.read_csv(url, header = None)

In [32]:
iris_df.columns = list('abcde')

In [36]:
iris_df['x'] = iris_df['a']/iris_df['b']

In [55]:
# print(iris_df)
iris_df_d = iris_df.drop(['a', 'd', 'e'], axis = 1)
# iris_df.insert(2, 'x2', iris_df['a']/iris_df['b'])

In [54]:
s1 = pd.Series(list('abcde'), index = [x for x in range(5)])
s2 = pd.Series(list('XYZF'), index = [3, 2, 4, 1])
df1 = pd.DataFrame({'a' : s1, 'b' : s2})

df1.dropna()

   a  b
1  b  F
2  c  Y
3  d  X
4  e  Z